:root {
  --background: rgba(30, 40, 70, 0.4);
  --background-1: rgba(19, 25, 41, 0.4);
  --background-2: rgba(69, 78, 109, 0.4);

  --button: rgba(30, 40, 70, 0.3);
  --button-1: rgba(30, 40, 70, 0.9);
  --button-2: rgba(19, 25, 41, 0.9);
  --button-3: rgba(30, 40, 70, 0.2);

  --primary: rgba(0, 0, 0, 1);
  --primary-1: rgba(0, 0, 0, 1);
  --primary-2: rgba(0, 0, 0, 1);
  --primary-3: rgba(0, 0, 0, 1);
  --primary-4: rgba(0, 0, 0, 1);

  --text: rgba(255, 255, 255, 1);
  --text-1: rgba(240, 240, 240, 0.3);

  --surface: rgba(140, 150, 160, 0.7);
  --surface-1: rgba(180, 200, 240, 0.3);
  --surface-2: rgba(190, 220, 250, 0.2);
}
