@import "./config.css";

:root {
  background-image: url(https://wallroom.io/img/2560x1440/bg-426b328.jpg);
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lucide {
  color: var(--background);
}

.text {
  font-family: "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text);
}

main {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
