.clock-button-container {
  display: flex;
  gap: 5px;
}

.clock-button {
  cursor: pointer;
  background-color: transparent;
}
.clock-button:hover {
  background-color: var(--background);
}
.clock-button:active {
  background-color: var(--background-2);
}
