@import "../../../styles/globals.css";

.clock-buttons-container {
  display: flex;
  gap: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock-top-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.clock-button {
  width: auto;
  height: min-content;
  padding: 0.4em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.clock-button:hover {
}
.clock-button:active {
}

.clock-button-main {
  width: 5em;
  height: 5em;
  padding: 0.2em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.18em solid transparent;
  border-radius: 9999px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.button-has-task {
  background-color: var(--background);
}
.button-has-task:hover {
  transform: scale(1.1);
  background-color: var(--background-1);
}
.button-has-task:active {
  transform: scale(1);
  background-color: var(--background-2);
}
.button-no-task {
  background-color: var(--background);
}
.play-icon-no-task {
  color: var(--surface);
}

.play-icon {
  color: var(--text);
}
.pause-icon {
  color: var(--text);
}

.clock-button-main-icon {
  width: 2.5em;
  height: 2.5em;
}

.clock-button-icon {
  width: 1em;
  height: 1em;
  color: var(--background);
}
.clock-button-icon:hover {
  color: var(--primary-1);
  fill: var(--primary-1);
}
.clock-button-icon:active {
  color: var(--primary);
  fill: var(--primary);
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-task-button {
  padding: 0.3em 0.8em;
  cursor: pointer;
  display: flex;
  gap: 0.8em;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.5em;
  background-color: var(--background);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.load-task-button:hover {
  background-color: var(--background-1);
}
.load-task-button:active {
  background-color: var(--background-2);
}

.load-task-icon {
  width: 2em;
  height: 2em;
  color: var(--text);
}

.load-task-text {
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase;
}
