@import "../../styles/config.css";

.clock-timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock-time-container {
  padding-inline: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border-radius: 1em;
}

.clock-time-text {
  user-select: none;
  text-align: center;
  font-size: 8em;
}

.lucide {
  width: 70px;
  height: 70px;
}
