@import "../../styles/config.css";

.clock-container {
  width: 40%;
  height: 100%;
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clock-head-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-time-container {
  height: 10em;
  padding-inline: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border-radius: 1em;
}

.clock-time {
  user-select: none;
  text-align: center;
  font-size: 8em;
}

.clock-body-container {
  width: 100%;
  display: flex;
  gap: 3em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock-button {
  padding: 0.1em 0.3em;
  cursor: pointer;
  font-size: 3em;
}
