@import "../../../styles/config.css";

.pannel-container {
  width: 350px;
  height: auto;
  border-radius: 0.5em;
  border: none;
  background-color: var(--background);
  user-select: none;
}

.pannel-task {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pannel-task-head {
  width: 100%;
  height: 3em;
  padding: 1em;
  display: flex;
  align-items: center;
}

.pannel-task-title {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.pannel-task-body {
  width: 100%;
  height: 100%;
  padding: 1em;
  background-color: var(--background-1);
}

.pannel-task-description {
  font-size: 1em;
}
